---
import StackBox from "@components/StackBox.astro"
import MainLayout from "../layouts/MainLayout.astro"
import Introduction from "src/section/home/Introduction.astro"
import Traits from "src/section/home/Traits.astro"

---

<MainLayout
    title="Index"
    description="Index Example"
>
    <div class="px-32 flex flex-col">
        <Introduction />
        <Traits />
    </div>
</MainLayout>