---
interface Props {
    title: string
    textSize?: string
}

const { title, textSize } = Astro.props
---
<span class={`${textSize || 'text-5xl'} w-fit font-bold bg-gradient-to-r from-[#F6F6F6] to-[#909090] bg-clip-text text-transparent pb-1`}>
    {title}
</span>