---

---
<nav class="flex justify-between px-20 py-6 border-b border-b-[#282828] mb-14">
    <ul class="flex space-x-6 text-white items-center">
        <li 
            class="text-sm font-normal px-3 py-2 rounded-xl cursor-pointer focus-within:bg-[#1C1C1C] focus-within:outline-none"
            tabindex="0"
        >
            Home
        </li>
        <li 
            class="text-sm font-normal px-3 py-2 rounded-xl cursor-pointer focus-within:bg-[#1C1C1C] focus-within:outline-none"
            tabindex="1"
        >
            About
        </li>
        <li 
            class="text-sm font-normal px-3 py-2 rounded-xl cursor-pointer focus-within:bg-[#1C1C1C] focus-within:outline-none"
            tabindex="2"
        >
            Blog
        </li>
    </ul>
    <img 
        src="/assets/MMRI.svg"
        alt="Blog Logo"
    />
</nav>