---
import CustomPageTitle from "@components/CustomPageTitle.astro"
import HomeButton from "@components/HomeButton.astro"
---
<div class="px-28 flex flex-col items-center justify-center text-center section1-container">
    <CustomPageTitle 
        title="Building digital experiences that leave a mark on the world."
        textSize="text-[64px]"
    />
    <p class="text-[#909090] font-medium text-xl mt-2 mb-12">Hey, I'm Rafi, crafting the web with passion and precision</p>
    <HomeButton 
        text="Read my blog"
    />
</div>
<style>
    .section1-container {

    }
</style>