<!-- ---
import { Code } from 'astro:components';

interface Props {
    code: string
    language: string
}


const { code, language } = Astro.props
---

<div class="my-4 p-3 bg-[#24292E] rounded-lg">
    <Code 
        code={code}
        lang=""
    />
</div> -->