---

---

<div class="giscus-comments mt-5 w-full">
  <script
    src="https://giscus.app/client.js"
    data-repo="cakuakz/rafi.blogsopt"
    data-repo-id="R_kgDONNJqTw"
    data-category="General"
    data-category-id="DIC_kwDONNJqT84Clsqu"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="3"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="preferred_color_scheme"
    data-lang="en"
    crossorigin="anonymous"
    async
    is:inline
  ></script>
</div>
<style>
  .giscus-frame {
    border: 1px solid red;
  }

  .giscus {
    border: 1px solid blue;
  }
</style>
