---
interface Props {
  headings: {
    depth: number
    slug: string
    text: string
  }[]
}

const { headings } = Astro.props
---

<div class="flex flex-col rounded-lg text-[#F6F6F6] w-[310px]">
    <p class="mb-3 text-2xl font-semibold">On this page</p>
    <ul>
        {
          headings.map((heading) => (
            <li class={`depth-${heading.depth} space-y-4 text-[#83868A] hover:text-white`} >
              <a href={`#${heading.slug}`} class="block">{heading.text}</a>
            </li>
          ))
        }
      </ul>
</div>
<style>
  .depth-2 { padding-left: 0; }
  .depth-3 { padding-left: 1rem; }
  .depth-4 { padding-left: 2rem; }
  .depth-5 { padding-left: 3rem; }
  .depth-6 { padding-left: 4rem; }
</style>